(
A,
Aacute,
Abreve,
Acircumflex,
Adieresis,
Agrave,
Amacron,
Aogonek,
Aring,
Atilde,
AE,
B,
C,
Cacute,
Ccaron,
Ccedilla,
Ccircumflex,
Cdotaccent,
D,
Dcaron,
Dcroat,
Eth,
E,
Eacute,
Ebreve,
Ecaron,
Ecircumflex,
Edieresis,
Edotaccent,
Egrave,
Emacron,
Eogonek,
Schwa,
F,
G,
Gbreve,
Gcircumflex,
Gcommaaccent,
Gdotaccent,
H,
Hcircumflex,
I,
IJ,
Iacute,
Ibreve,
Icircumflex,
Idieresis,
Idotaccent,
Igrave,
Imacron,
Iogonek,
Itilde,
J,
Jcircumflex,
K,
Kcommaaccent,
L,
Lacute,
Lcaron,
Lcommaaccent,
Ldot,
Lslash,
M,
N,
Nacute,
Ncaron,
Ncommaaccent,
Ntilde,
O,
Oacute,
Obreve,
Ocircumflex,
Odieresis,
Ograve,
Ohungarumlaut,
Omacron,
Oslash,
Otilde,
OE,
P,
Thorn,
Q,
R,
Racute,
Rcaron,
Rcommaaccent,
S,
Sacute,
Scaron,
Scedilla,
Scircumflex,
T,
Tcaron,
Tcedilla,
U,
Uacute,
Ubreve,
Ucircumflex,
Udieresis,
Ugrave,
Uhungarumlaut,
Umacron,
Uogonek,
Uring,
Utilde,
V,
W,
Wcircumflex,
Wynn,
X,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Z,
Zacute,
Zcaron,
Zdotaccent,
a,
aacute,
abreve,
acircumflex,
adieresis,
agrave,
amacron,
aogonek,
aring,
atilde,
ae,
b,
c,
cacute,
ccaron,
ccedilla,
ccircumflex,
cdotaccent,
d,
dcaron,
dcroat,
eth,
e,
eacute,
ebreve,
ecaron,
ecircumflex,
edieresis,
edotaccent,
egrave,
emacron,
eogonek,
schwa,
f,
g,
gbreve,
gcircumflex,
gcommaaccent,
gdotaccent,
h,
hcircumflex,
i,
idotless,
iacute,
ibreve,
icircumflex,
idieresis,
igrave,
imacron,
iogonek,
itilde,
ij,
j,
jdotless,
jcircumflex,
k,
kcommaaccent,
kgreenlandic,
l,
lacute,
lcaron,
lcommaaccent,
ldot,
lslash,
m,
n,
nacute,
ncaron,
ncommaaccent,
ntilde,
o,
oacute,
obreve,
ocircumflex,
odieresis,
ograve,
ohungarumlaut,
omacron,
oslash,
otilde,
oe,
p,
thorn,
q,
r,
racute,
rcaron,
rcommaaccent,
rrotunda,
s,
sacute,
scaron,
scedilla,
scircumflex,
germandbls,
longs,
t,
tcaron,
tcedilla,
u,
uacute,
ubreve,
ucircumflex,
udieresis,
ugrave,
uhungarumlaut,
umacron,
uogonek,
uring,
utilde,
v,
w,
wcircumflex,
wynn,
x,
y,
yacute,
ycircumflex,
ydieresis,
z,
zacute,
zcaron,
zdotaccent,
a_n_d.dlig,
f_f,
f_f_i,
f_f_l,
fi,
fl,
n_d.dlig,
o_f.dlig,
r_d.dlig,
s_t.dlig,
t_h.dlig,
t_h_e.dlig,
ordfeminine,
ordmasculine,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
fraction,
space,
enspace,
emspace,
thinspace,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
numbersign,
slash,
backslash,
hyphen,
softhyphen,
doubleobliquehyphen,
underscore,
doubleobliquehyphen.alt,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemetleft,
guillemetright,
quotedbl,
quotesingle,
at,
ampersand,
paragraph,
section,
copyright,
registered,
degree,
bar,
brokenbar,
bitcoin,
cent,
currency,
dollar,
euro,
sterling,
yen,
plus,
multiply,
divide,
equal,
greater,
less,
plusminus,
asciitilde,
logicalnot,
asciicircum,
micro,
percent,
ecomb,
enclosingcirclecomb,
dieresiscomb,
dotaccentcomb,
gravecomb,
acutecomb,
hungarumlautcomb,
circumflexcomb,
caroncomb,
brevecomb,
ringcomb,
tildecomb,
macroncomb,
overlinecomb,
dblgravecomb,
commaaboverightcomb,
cedillacomb,
ogonekcomb,
dieresis,
grave,
acute,
macron,
cedilla
)